<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %></title><!-- Incorporando as variáveis no HTML usando a sintaxe EJS: <%= 'variável' %> -->
</head>
<body>
  <h1><%= message %></h1>
</body>
</html>
